.polls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1200px;
}
.polls_item {
  background: var(--gray-alpha-200);
  width: 100%;
  max-width: 288px;
  border-radius: 5px;
  padding: 8px 16px;
  min-height: 100px;
}
